<% content_for :title, "Edit Task" %>

<h1>Edit Task</h1>

<div class="card">
  <div class="card-body">
    <%= render 'form', task: @task %>
  </div>
</div>

<div class="mt-3">
  <%= link_to "View Task", @task, class: "btn btn-outline-primary" %>
</div>